@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'calm_loveregular';
  src: url('@/assets/fonts/calm_love-webfont.woff2') format('woff2'),
       url('@/assets/fonts/calm_love-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin';
  src: url('@/assets/fonts/Berlin-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Berlin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'qararegular';
  src: url('@/assets/fonts/qara-webfont.woff2') format('woff2'),
       url('@/assets/fonts/qara-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a, button {
    transition: all .3s ease-in-out;
  }

:root {
--color-primary: #27272a;
}

.sub {
  position: relative;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  padding-left: 77px;
  font-family: 'Berlin';
}

.sub::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 62px;
  height: 1px;
  background-color: #fff;
}

.sub.center {
  padding-right: 73px;
}

.sub.center::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 62px;
  height: 1px;
  background-color: #fff;
}

.sub-dark {
  position: relative;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  padding-left: 77px;
}

.sub-dark.center {
  padding-right: 73px;
}

.sub-dark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 62px;
  height: 1px;
  background-color: #27272a;
}

.sub-dark.center::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 62px;
  height: 1px;
  background-color: #27272a;
}

.sub-dark-right {
  position: relative;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  padding-right: 77px;
}

.sub-dark-right::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 62px;
  height: 1px;
  background-color: #27272a;
}

@font-face {
  font-family: 'calm_loveregular';
  src: url('@/assets/fonts/calm_love-webfont.woff2') format('woff2'),
       url('@/assets/fonts/calm_love-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin';
  src: url('@/assets/fonts/Berlin-Regular.woff2') format('woff2'),
       url('@/assets/fonts/Berlin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


